* {
  transition: .2s ease;
}
body {
    display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   background-color: white;
   padding: 2% 0 2% 0;
   border-radius: 10px;
   margin-left: 25%;
   margin-right: 25%;
   padding: 2% 0 5% 0;
  background-image: url(./fondo-pokemon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
    
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
   color: #ffde00;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: whitesmoke;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}

#imagen {
  
    width: 200px;
}

#pokemon {
    background-color: #3b4cca;
    color: white;
    border: none;
    border-radius: 5px;
    width: 150px;
    cursor: pointer;
    margin: 5px;
    padding: 2% 0 2% 0;
}

#revelar {
    background-color: #ffde00;
    color: white;
    border: none;
    border-radius: 5px;
    width: 150px;
    cursor: pointer;
    margin: 5px;
    padding: 2% 0 2% 0;
}

#pokemon:hover {
    background-color: whitesmoke;
    color: #3b4cca;
     transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(0,0,0,.3);
}

#revelar:hover {
    background-color: whitesmoke;
    color: #ffde00;
     transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(0,0,0,.3);
}
